{{!-- Building Permits Layout - Top navigation (like Assessing) --}}
<div class="avitar-layout">
  <Shared::MunicipalityNav />
  <main class="avitar-main">
    {{#if @model.accessDenied}}
      <Shared::AccessDenied
        @moduleName={{@model.moduleName}}
        @requiredPermission={{@model.requiredPermission}}
        @message={{@model.message}}
        @canRequestAccess={{true}}
        @showContactInfo={{true}}
      />
    {{else}}
      {{outlet}}
    {{/if}}
  </main>
</div>