{{!-- Municipality Navigation Component using Avitar Topbar Design --}}
<div class="municipal-navigation {{if this.hasActiveChildren 'has-children'}}" style={{this.navStyles}}>
  
  {{!-- Primary Top Bar with Brand and Modules --}}
  <nav class="avitar-topbar">
    {{!-- Municipal Brand --}}
    {{#if this.currentMunicipalityName}}
      <div class="avitar-topbar__brand">
        {{#if this.brandingConfig.logo_url}}
          <img src={{this.brandingConfig.logo_url}} alt="{{this.currentMunicipalityName}} Logo" class="municipal-logo">
        {{else}}
          <div class="avitar-topbar__brand-logo">
            {{this.municipalityInitial}}
          </div>
        {{/if}}
        <div>
          <div class="municipal-name">{{this.currentMunicipalityName}}</div>
          {{#if this.brandingConfig.header_text}}
            <div class="municipal-subtitle">{{this.brandingConfig.header_text}}</div>
          {{/if}}
        </div>
      </div>
    {{/if}}

    {{!-- Module Navigation --}}
    {{#if this.navigationItems.length}}
      <ul class="avitar-topbar__nav">
        {{#each this.navigationItems as |navItem|}}
          <li class="avitar-topbar__nav-item">
            <LinkTo 
              @route={{navItem.route}} 
              class="avitar-topbar__nav-link {{if (this.isModuleActive navItem) 'avitar-topbar__nav-link--active'}}"
            >
              <i class="fas fa-{{navItem.icon}}"></i>
              {{navItem.title}}
              {{#if navItem.tier}}
                <span class="avitar-badge avitar-badge--{{navItem.tier}}">
                  {{navItem.tier}}
                </span>
              {{/if}}
            </LinkTo>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <div class="avitar-empty-state">
        <i class="fas fa-cube"></i>
        <span>No modules available</span>
      </div>
    {{/if}}

    {{!-- User Actions --}}
    <div class="avitar-topbar__user">
      {{!-- User Role Badge --}}
      {{#if this.userRole}}
        <span class="avitar-badge {{this.userRole.badge}}" title="Your role in this municipality">
          {{{lnr-icon "user"}}}
          <span class="avitar-ml-1">{{this.userRole.role}}</span>
        </span>
      {{/if}}

      {{!-- Department Badge (if applicable) --}}
      {{#if this.userDepartment}}
        <span class="avitar-badge avitar-badge--secondary avitar-ml-2" title="Your department">
          {{{lnr-icon "briefcase"}}}
          <span class="avitar-ml-1">{{this.userDepartment}}</span>
        </span>
      {{/if}}

      {{!-- Subscription Info --}}
      {{#if this.municipality.subscriptionInfo}}
        <span class="avitar-badge avitar-badge--{{this.municipality.subscriptionInfo.tier}} avitar-ml-2">
          {{this.municipality.subscriptionInfo.tier}} Plan
        </span>
      {{/if}}

      {{!-- Municipality Selection Button --}}
      <button 
        class="avitar-btn avitar-btn--secondary avitar-btn--sm avitar-ml-2"
        {{on "click" this.goToMunicipalitySelection}}
        type="button"
        title="Switch Municipality"
      >
        <i class="fas fa-building avitar-mr-1"></i>
        Switch
      </button>
      
      {{!-- Logout Button --}}
      <button 
        class="avitar-btn avitar-btn--danger avitar-btn--sm avitar-ml-2"
        {{on "click" this.logout}}
        type="button"
        title="Logout"
      >
        <i class="fas fa-sign-out-alt avitar-mr-1"></i>
        Logout
      </button>
    </div>
  </nav>

  {{!-- Secondary Navigation for Active Module Children --}}
  {{#if this.hasActiveChildren}}
    <nav class="avitar-topbar module-children-nav">
      <ul class="avitar-topbar__nav">
        {{#each this.activeModuleChildren as |child index|}}
          <li class="avitar-topbar__nav-item {{if child.dropdown 'avitar-topbar__nav-item--dropdown'}}">
            {{#if child.component}}
              {{!-- Render component directly instead of link --}}
              {{component child.component property=this.selectedProperty selectedYear=this.assessmentYear onYearChange=this.onAssessmentYearChange onAddToQueue=this.addSelectedToQueue onOpenPrint=this.openPrintModal}}
            {{else if child.dropdown}}
              {{!-- Dropdown navigation item --}}
              <button
                type="button"
                class="avitar-topbar__nav-link avitar-topbar__nav-link--dropdown"
                {{on "click" (fn this.toggleDropdown index)}}
              >
                <i class="fas fa-{{child.icon}}"></i>
                {{child.title}}
                <i class="fas fa-chevron-{{if (this.isDropdownOpen index) 'up' 'down'}} avitar-ml-2"></i>
              </button>

              {{#if (this.isDropdownOpen index)}}
                <div class="avitar-topbar__dropdown" {{on "click" this.stopPropagation}}>
                  {{#each child.items as |item|}}
                    <LinkTo
                      @route={{item.route}}
                      class="avitar-topbar__dropdown-link"
                    >
                      <i class="fas fa-{{item.icon}} avitar-mr-2"></i>
                      {{item.title}}
                    </LinkTo>
                  {{/each}}
                </div>
              {{/if}}
            {{else if child.models}}
              <LinkTo
                @route={{child.route}}
                @models={{child.models}}
                @query={{this.currentQueryParams}}
                class="avitar-topbar__nav-link"
                @activeClass="avitar-topbar__nav-link--active"
              >
                <i class="fas fa-{{child.icon}}"></i>
                {{child.title}}
                {{#if child.badge}}
                  <span class="avitar-badge avitar-badge--warning">
                    {{child.badge}}
                  </span>
                {{/if}}
              </LinkTo>
            {{else}}
              <LinkTo
                @route={{child.route}}
                @query={{this.currentQueryParams}}
                class="avitar-topbar__nav-link {{if child.iconOnly 'avitar-topbar__nav-link--icon-only'}}"
                @activeClass="avitar-topbar__nav-link--active"
                title={{if child.iconOnly child.title}}
              >
                {{#if child.iconOnly}}
                  {{{lnr-icon child.icon}}}
                {{else}}
                  <i class="fas fa-{{child.icon}}"></i>
                  {{child.title}}
                {{/if}}
                {{#if child.badge}}
                  <span class="avitar-badge avitar-badge--warning">
                    {{child.badge}}
                  </span>
                {{/if}}
              </LinkTo>
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </nav>
  {{/if}}

  {{!-- Property Record Card Print Modal --}}
  <Assessing::PropertyRecordCardModal 
    @isOpen={{this.isPrintModalOpen}}
    @onClose={{this.closePrintModal}}
  />

</div>