{{!-- Shared Property Tree Group Component --}}
<div class="property-tree-group">

  {{!-- Group Header --}}
  <div
    class="property-tree-group__header"
    {{on "click" this.toggleExpanded}}
  >
    <i class="fas fa-{{if this.isExpanded 'chevron-down' 'chevron-right'}} property-tree-group__expand-icon"></i>
    <i class="fas fa-{{this.groupIcon}} property-tree-group__icon"></i>
    <span class="property-tree-group__title">{{this.groupTitle}}</span>
    <span class="property-tree-group__count avitar-badge avitar-badge--secondary">
      {{@properties.length}}
    </span>
  </div>

  {{!-- Group Properties --}}
  {{#if this.isExpanded}}
    <div class="property-tree-group__content">
      {{#each @properties as |property|}}
        <div class="property-tree-item {{if (eq property.id @selectedPropertyId) 'property-tree-item--selected'}}">

          {{!-- Property Main Info --}}
          <div
            class="property-tree-item__main"
            {{on "click" (fn this.selectProperty property)}}
          >
            <div class="property-tree-item__info">
              <div class="property-tree-item__name">
                {{@getDisplayName property}}
              </div>
              <div class="property-tree-item__secondary">
                {{@getSecondaryInfo property}}
              </div>
            </div>

            {{!-- Selected Property Indicator --}}
            {{#if (eq property.id @selectedPropertyId)}}
              <div class="property-tree-item__current">
                <i class="fas fa-check-circle"></i>
              </div>
            {{/if}}
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>
