{{!-- Assessment Year Selector - Navigation Style --}}
<div class="avitar-topbar__nav-link assessment-year-selector" style="max-width: 200px;">
  {{{lnr-icon "calendar-full"}}}
  <label for="assessment-year-select" class="avitar-text-sm" style="white-space: nowrap;">
    Year:
  </label>
  {{#if this.isLoading}}
    <span class="avitar-text-sm avitar-text-muted avitar-ml-2">
      {{{lnr-icon "sync" class="avitar-spin"}}}
    </span>
  {{else}}
    <select
      id="assessment-year-select"
      class="avitar-select avitar-select--sm avitar-ml-2"
      style="width: auto; min-width: 80px;"
      {{on "change" this.onYearChange}}
    >
      {{#each this.availableYears as |yearOption|}}
        <option value={{yearOption}} selected={{eq yearOption this.selectedYear}}>
          {{yearOption}}{{#if this.isStaff}}{{#if (includes this.hiddenYears yearOption)}} (Hidden){{/if}}{{/if}}
        </option>
      {{/each}}
    </select>
  {{/if}}
</div>